<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="referrer" content="no-referrer">
    <title>{% block title %}Base Template{% endblock %}</title>

    {% load static %}
    <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
    <link href="{% static 'stock_app/styles/search_bar.css' %}" rel="stylesheet">
    <link href="{% static 'stock_app/styles/style.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <p class="navbar-text">Signed in as {{ user }}</p>

    <form id="search_form" class="navbar-form navbar-left search" role="search" method="post"
        action="">{% csrf_token %}
        <div class="form-group">
            <input id="search_box" type="text" class="form-control" placeholder="Search for stocks" name="search_key" autocomplete="off" onkeyup="search_stocks()">
            <ul id="results" class="results">
            </ul>
        </div>
    </form>

    <ul class="nav nav-tabs navbar-right">
        {% if not user.is_active %}
        <li role="presentation"><a href="{% url 'login_view' %}">Login</a></li>
        <li role="presentation"><a href="{% url 'create_user_view' %}">Create</a></li>
        {% endif %}
        {% if user.is_active %}
        <li role="presentation"><a href="{% url 'index' %}">Home</a></li>
        <li role="presentation"><a href="{% url 'logout_view' %}">Logout</a></li>
        {% endif%}
    </ul>
    </div><!-- container-fluid -->
</nav>

{% block content %}
    <h1>Base Template</h1>
{% endblock %}

<script src="{% static 'stock_app/javascript/libs/jquery.min.js' %}"></script>
<script src="{% static 'stock_app/javascript/search_bar.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>