{% extends './base.html' %}

{% block title %}Index Page{% endblock %}

{% block content %}
<div class="container-fluid">
    <section class="row">
        <article>
            {{test_info}}
        </article>
    </section>
<section class="row">
    {% for stock in user.stocks.all %}
    <article id="{{ stock.ticker }}" class="col-md-4 col-sm-6 col-xs-12 panel panel-success">
        <div class="panel-heading"><a href="/stock/{{ stock.ticker }}">{{ stock.name }}</a>
            <a href="#" class="glyphicon glyphicon-remove remove_stock"></a></div>
        <table class="table">
            <tr>
                <td>Stock Symbol:</td>
                <td>{{ stock.ticker }}</td>
            </tr>

            <tr>
                <td>Price:</td>
                <td>{{ stock.price }}</td>
            </tr>

            <tr>
                <td>Price Target:</td>
                <td>{{ stock.price_target }}</td>
            </tr>

            <tr>
                <td>Last Update:</td>
                <td>{{ stock.last_updated }}</td>
            </tr>
        </table>
    </article>
    {% endfor %}
</section>
</div>

{% endblock %}