{% extends 'stock_app/base.html' %}
    {% block title %}Login Page{% endblock %}

{% block content %}
    <h1>Login Page</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'login_view' %}" method="post">{% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username">
        <br />
        <label>Password:</label>
        <input type="password" name="password">
        <br />
        <input type="submit">
    </form>

<p>Sign up <a href="{% url 'create_user_view' %}">here!</a></p>
{% endblock %}