div section {
    text-align: center;
    position: relative;
    /*border: 1px solid blue;*/
}

div section article.panel {
    box-sizing: border-box;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: inline-block;
    float: none;

    /*border: 1px solid green;*/
}

div section article.panel div.panel-heading {
    text-align: center;
}

div section article.panel div.panel-heading a {
    color: inherit;
}

div section article.panel div.panel-heading a:hover {
    text-decoration: none;
}

div section article.panel div table {
    background-color: #fdfdfd;
}

.remove_stock {
    position: absolute;
    top: 0px;
    right: 0px;
}